.SearchBarDetailContainer {
  width: 725px;
  height: 210px;
  margin-top: 56px;
  position: absolute;
  overflow: auto;
  z-index: 999;
  .searchBarDetailBox {
    .searchbox {
      width: 725px;
      height: 40px;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      // display: flex;
      .search {
        display: flex;
        // background-color: pink;
        height: 40px;
        padding-top: 5px;
        padding-left: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        // border-bottom: 1px solid black;
        .buildingImg {
          width: 27px;
          height: 27px;
          // background-color: pink;

          margin-right: 10px;
        }
        .name {
          font-size: 15px;
          padding-top: 7px;
          width: 450px;
          display: flex;
          height: 50px;
          // background-color: red;
        }
        .region {
          font-size: 13px;
          color: gray;
          position: absolute;
          right: 13px;
          // width: 220px;
          height: 50px;
          // justify-content: start;
          // display: flex;
          text-align: right;
          // padding-left: 80px;
          // background-color: blue;
          padding-top: 6px;
          // float: right;
          // margin-left: 400px;
        }
      }
    }
  }
}
.productShow {
  width: 725px;
  height: 210px;
}
.hide {
  display: none;
}
