.main {
  width: 1200px;
  .article {
    width: 1200px;
    height: 566px;
    // border: 1px solid black;

    .loginBanner {
      display: flex;
      margin-left: 70px;
      .wrapBanner {
        width: 500px;
        height: 400px;
        margin-top: 50px;
        padding-right: 80px;
        .infoBanner {
          padding: 16px 9px;
          .title {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .subTitle {
            font-size: 13px;
            margin-bottom: 5px;
          }
        }
        .kakaoImg {
          width: 450px;
          height: 350px;
        }
      }
      .wrapForm {
        width: 500px;
        height: 570px;
        border: 2px solid #e5e5e5;
        padding: 50px 30px 10px 80px;

        // padding: 60px, 70px;
        .kakaoServiceLogo {
          margin-bottom: 20px;
          .logoText {
            font-size: 40px;
          }
        }
        .loginForm {
          width: 338px;
          height: 110px;
          // border: 1px solid blue;
          .loginEmailField {
            .inputEmailBox {
              width: 338px;
              height: 47px;
              border-bottom: 3px solid #e5e5e5;
              .inputEmail {
              }
              .inputEmailText {
                width: 320px;
                height: 40px;
                border: 0px solid;
                outline: none;
                &:focus {
                  color: yellow;
                  -webkit-text-fill-color: #e5e5e5;
                }
                &::placeholder {
                  color: #e5e5e5;
                }
              }
            }
            .inputpwdBox {
              width: 338px;
              height: 47px;
              border-bottom: 3px solid #e5e5e5;
              .inputPwd {
              }
              .inputPwdText {
                width: 320px;
                height: 40px;
                border: 0px solid;
                outline: none;
                &:focus {
                  color: yellow;
                  -webkit-text-fill-color: gray;
                }
                &::placeholder {
                  color: #e5e5e5;
                }
              }
            }
          }
        }
        .setLogin {
          width: 338px;
          height: 20px;
          // background-color: blue;
          .itemCheck {
            .check {
            }
            .checkBoxText {
              .text {
              }
            }
          }
        }
        .errorAlert {
          width: 338px;
          height: 60px;
          // border: 1px solid brown;
        }
        .wrapBtn {
          width: 338px;
          height: 148px;
          .submitBtn {
            width: 338px;
            height: 50px;
            background-color: #ffe500;
            border: 0px solid;
            .btnText {
              text-align: center;
              font-size: 15px;
            }
          }
          .orLineBox {
            display: flex;
            .orLine {
              width: 140px;
              height: 25px;
              // border-bottom: 1px solid #e5e5e5;
              border-bottom: 3px solid #e5e5e5;
            }
            .orText {
              width: 50px;
              height: 30px;
              // background-color: #ffe500;
              text-align: center;
              padding-top: 15px;
            }
            .orLineA {
              width: 140px;
              height: 25px;
              // border-bottom: 1px solid #e5e5e5;
              border-bottom: 3px solid #e5e5e5;
            }
          }

          .qrLogin {
            width: 338px;
            height: 50px;
            background-color: #e5e5e5;
            border: 0px solid;
            margin-top: 20px;
          }
        }
        .info {
          width: 330px;
          // height: 50px;
          // border: 1px solid blue;
          display: flex;
          margin-top: 50px;
          justify-content: space-between;

          .linkJoin {
            font-size: 13px;
            color: gray;
          }
          .userList {
            font-size: 13px;
            color: gray;
            display: flex;
            width: 140px;
            justify-content: space-between;
            .linkUser {
              // width: 40px;
              height: 13px;
              padding-left: 6px;
              border-left: 2px solid #e5e5e5;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
