.containerEmailLogin {
  // margin-top: 72px;
  // padding-top: 72px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .containerLoginBoxWrap {
    border: 1px solid black;
    width: 378px;
    height: 486px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100%;
    min-height: 455px;
    max-height: 543px;
    position: relative;
    box-sizing: border-box;
    padding: 30px 23px 0px;

    .containerLoginBox {
      text-align: center;

      .logoBox {
        width: 332px;
        height: 124px;
        // margin-top: 30px;
        margin: 0 0 40px;
        // border: 1px solid red;
        .mainLogo {
          // margin-bottom: 10px;
          vertical-align: middle;
          width: 120px;
          height: 48px;
          margin: 0 0 20px;

          // border: 1px solid black;
        }
        .logoWithDescriptionBox {
          width: 260px;
          height: 66px;
          margin-right: 10px;
          margin-left: 45px;
          // padding-top: 10px;
          // border: 1px solid blue;
          .descriptionA {
            width: 260px;
            height: 33px;
            font-size: 22px;
            font-weight: 300;
            text-align: center;
            font-family: SpoqaHanSans;
            color: #555555;
            // color: rgb(34, 34, 34);
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
          }
          .descriptionB {
            width: 260px;
            height: 40px;
            font-size: 22px;
            font-weight: 700;
          }
        }
      }
    }
    .kakaoButtonWrap {
      width: 332px;
      height: 230px;
      .kakaoButton {
        width: 332px;
        height: 50px;
        background-color: rgba(255, 235, 74, 1);
        display: flex;
        justify-content: center;
        // padding: 17px px 20px 70px;
        border-radius: 25px;
        // padding-left: 30px;

        .kakaoText {
          font-size: 16px;
          width: 150px;
          height: 24px;
          color: black;
          text-decoration: none;
        }
        .kakaoApi {
          border: none;
          display: flex;
          align-items: center;
          content: "";
          outline: none;
          background-color: transparent;
          font-size: 16px;
          .katalkContent {
            width: 28px;
            height: 27px;
          }
        }
      }
    }
    .anotherWay {
      width: 332px;
      height: 80px;
      //   background-color: pink;
      margin-left: 0 0 20px;
      .anotherWayText {
        font-size: 13px;
        color: #a6a6a6;
        text-align: center;
        padding-left: 100px;
        width: 115px;
        height: 19px;
      }
      .anotherWayImg {
        display: flex;
        margin-left: 87px;
        margin-top: 10px;
        width: 140px;
        height: 56px;
        // border: 1px solid red;
        justify-content: space-between;

        .logoImg {
          width: 36px;
          height: 36px;
          //   justify-content: space-between;
        }
      }
    }
  }
}
