.DetailBoxInARoom {
  position: absolute;
  justify-content: center;
  margin-top: 10px;
  width: 138px;
  height: 117px;
  z-index: 999;

  .infoBox {
    position: absolute;
    width: 138px;
    height: 117px;
    background-color: white;
    .infoList {
      margin-top: 10px;
      .infoText {
        width: 136px;
        height: 32px;
        color: black;
        text-decoration: none;
        border: none;
        outline: none;
        font-size: 13px;
      }
      .infoText:hover {
        background-color: rgb(204, 202, 202);
        cursor: pointer;
      }
    }
  }
}
.productShow {
  width: 138px;
  height: 117px;
  background-color: white;
}
.hide {
  display: none;
}
