.authContainer {
  width: 100%;
  height: 486px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  .authWrap {
    border: 1px solid rgb(219, 218, 218);
    width: 378px;
    height: 100%;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    min-height: 390px;
    max-height: 490px;
    .authTextBox {
      width: 378px;
      height: 68px;
      margin: 30px 0px;
      .texta {
        width: 190px;
        height: 25px;
        color: #222222;
        font-size: 18px;
        text-align: center;
        line-height: 25px;
        margin-left: 100px;
      }
      .textb {
        width: 250px;
        height: 40px;
        color: #222222;
        font-size: 18px;
        margin-top: 4px;
        margin-left: 100px;
      }
    }

    .bar {
      width: 220px;
      height: 47px;
      margin-left: 75px;
      margin-bottom: 20px;
      background-color: rgb(219, 218, 218);
      .barText {
        border-right-style: solid;
        color: rgb(34, 34, 34);
        width: 220px;
        font-size: 26px;
        height: 45px;
        padding: 0px;
        outline: none;
        border: none;
        text-decoration: none;
        text-align: center;
      }
    }
    .nexttime {
      color: rgb(117, 117, 117);
      font-family: SpoqaHanSans;
      font-size: 12px;
      text-decoration-line: underline;
      margin-left: 270px;
    }
    .nextbutton {
      width: 358px;
      height: 50px;
      background-color: #cccccc;
      margin-left: 10px;
      margin-top: 217px;
      .nextText {
        font-size: 16px;
        font-weight: bold;
        padding-top: 15px;
        margin-left: 155px;
        outline: none;
        border: none;
        background-color: #cccccc;
        text-decoration: none;
      }
    }
  }
}
