.containerFooter {
  // width: 1445px;
  // height: 500px;
  // border: 1px solid black;
  width: 100%;
  background-color: rgb(246, 246, 246);
  padding: 27px 350px 10px 470px;
  color: rgb(153, 153, 153);
  text-align: center;
  justify-content: center;
  position: relative;
  .footerWrap {
    width: 600px;
    // margin-left: 50px;

    // height: 225px;
    .textLink {
      width: 600px;
      height: 35px;
      font-size: 12px;
      padding-bottom: 20px;
      .textAlign {
        display: flex;
        width: 470px;
        justify-content: space-between;
        .text {
          font-size: 12px;
          text-align: center;
          color: black;
        }
        .bar {
          color: gray;
        }
      }
    }
    .copyrightWrap {
      width: 600px;
      height: 190px;
      font-size: 12px;
      color: #4c4c4c;

      // margin-top: 35px;
      // margin-bottom: 55px;
      .copyrightTextBox {
        // margin: 0 atuo;
        width: 570px;
        padding-right: 55px;

        .copyrightText {
          text-align: center;
          line-height: 20px;
        }
      }
      .linkImgBox {
        display: flex;
        width: 210px;
        height: 76px;
        margin-left: 139px;
        padding: 24px 0 13px 30px;
        justify-content: space-between;
        .linkImg {
          width: 34px;
          height: 34px;
        }
      }
    }

    .bottomcopyright {
      width: 300px;
      height: 19px;
      color: rgb(128, 128, 128);
      font-size: 12px;
      margin-left: 110px;
      text-align: center;
    }
  }
}
